<a href="https://colab.research.google.com/github/Bragmotik/laboratory/blob/main/%D0%BB%D0%B0%D0%B1%D0%B0_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Яковлева Ольга
АДЭУ 201

# Задание 4.2.1.
Рассчитать значение f при заданном значении вещественного числа x:
> ![image.png]()


При выводе на экран оставьте 2 знака после запятой.

In [ ]:
x = float(input("Введите число x:"))

if x >= 0:
    f = x**0.5 + x**2
else:
    f = 1 / x

print(round(f,2))

# --------------
# Пример вывода:
#
# Введите число x: -10
# f = -0.10

# Введите число x: 0
# f = 0.00

# Введите число x: 10
# f = 103.16

# Задание 4.2.2.
Определите максимальное и минимальное значения из двух различных целых чисел.

In [ ]:
a1 = int(input("Введите первое число:"))
a2 = int(input("Введите второе число:"))

# Переменная 'a_min' должна содержать минимум, 'a_max' - максимум
if a1>a2:
  a_min = a2
  a_max = a1
else:
  a_max = a2
  a_min = a1

print("Максимум: ", a_max, ",", "Минимум: ", a_min)

# --------------
# Пример вывода:
#
# Введите первое число: 1
# Введите второе число: 2
# Максимум: 2, минимум: 1

# Введите первое число: 5
# Введите второе число: 5
# Максимум: 5, минимум: 5

# Введите первое число: 100
# Введите второе число: -1
# Максимум: 100, минимум: -1

# Задание 4.2.3.
Вася пытается высунуть голову в форточку размерами a и b см. Приняв условно, что его голова - круглая диаметром d см, определите, сможет ли Вася сделать это. Для прохождения головы в форточку необходим зазор в 1 см. с каждой стороны.

Все величины - целые числа.

In [ ]:
a = int(input("Ширина форточки: "))
b = int(input("Высота форточки: "))
d = int(input("Диаметр головы: "))

if a>0 and b>0 and d>0:
    fix = 1  # Зазор
    if a>=d+fix*2 and b>=d+fix*2:
      print("Да, сможет")
    else:
      print("Нет, не сможет")
else:
  print("Проверьте ввод")
# --------------
# Пример вывода:
#
# Ширина форточки: 5
# Высота форточки: 6
# Диаметр головы: 6
# Нет

# Ширина форточки: 6
# Высота форточки: 7
# Диаметр головы: 4
# Да

# Задание 4.2.4.
Известны год и номер месяца сегодняшнего дня, а также год и номер месяца рождения человека (нумерация месяцев с 1: январь - 1 и т.д.). Определите возраст человека (число полных лет).

In [ ]:
year_today = int(input("Введите текущий год: "))
month_today = int(input("Введите текущий месяц: "))

year = int(input("Введите год рождения: "))
month = int(input("Введите месяц рождения: "))

# Считается, введенные значения находятся в допустимых пределах,и
# что 'month_today' >= 'month' (проверять значения не нужно)
# Результат необходимо записать в переменную 'age'
if month_today>=month:
  age = year_today-year
else:
  age = year_today-year-1

print("Число полных лет: ", age)

# --------------
# Пример вывода:
#
# Введите текущий год: 2017
# Введите текущий месяц: 5
# Введите год рождения: 2000
# Введите месяц рождения: 1
# Число полных лет:  17
#
# Введите текущий год: 2015
# Введите текущий месяц: 6
# Введите год рождения: 2010
# Введите месяц рождения: 8
# Число полных лет:  4
#
# Введите текущий год: 2020
# Введите текущий месяц: 5
# Введите год рождения: 2000
# Введите месяц рождения: 5
# Число полных лет:  20

# Задание 4.2.5.
Дана точка с целыми ненулевыми координатами (x;y). Определить номер четверти координатной плоскости, которой она принадлежит.

In [ ]:
x = float(input("Введите координату x: "))
y = float(input("Введите координату y: "))

if x>=0 and y>0:
  print("1-я четверть")
elif x>0 and y<0:
  print("2-я четверть")
elif x<0 and y<0:
  print("3-я четверть")
else:
  print("4-я четверть")

print()

# --------------
# Пример вывода:
#
# Введите координату x: 5
# Введите координату y: 7
# 1-я четверть

# Задание 4.2.6.
Даны вещественные числа a, b, c (a≠0).

Решите уравнение ax2+bx+c=0. При выводе значений оставьте 1 знак после запятой.

In [ ]:
a = float(input("a = "))
b = float(input("b = "))
c = float(input("c = "))
if a!=0:
  dis=b**2-4*a*c
  if dis>0:
    x1 = ((-b) - dis**0.5)/2*a
    x2 = ((-b) + dis**0.5)/2*a
    print("x1= ", "%.1f" % (x1), "x2=", "%.1f" % (x2))
  elif dis==0:
    x = ((-b) + dis**0.5)/2*a
    print("x=", "%.1f" % (x))
  else:
    print("Решений нет")
else:
  print("Введите другие значения")

# --------------
# Пример вывода:
#
# a = 1
# b = 2
# c = 3
# Решений нет
#
# a = 1
# b = 2
# c = 1
# x = -1.0
#
# a = 1
# b = 3
# c = -4
# x1 = -4.0, x2 = 1.0

# Задание 4.2.7.
Дана непустая последовательность целых чисел, оканчивающаяся нулем. Найти сумму и количество введенных чисел.

In [ ]:
nums_sum = 0  # сумма
nums_count = 0  # количество
 
x = int(input("Введите число:"))
while x!= 0:
  nums_sum += x
  nums_count += 1
  x = int(input("Введите число:"))
print("Сумма=",nums_sum, "Количество=", nums_count)
# Удалите комментарий и допишите код
 
# --------------
# Пример вывода:
#
# Введите 1-е число: 1
# Введите 2-е число: 2
# Введите 3-е число: 3
# Введите 4-е число: 4
# Введите 5-е число: 0
# Сумма = 10
# Количество = 4
#
# Введите 1-е число: 0
# Сумма = 0
# Количество = 0

# Задание 4.2.8.
Дано число n. Из чисел 0,5,10,15,20,25,... напечатать те, которые не превышают n.

In [ ]:
n = int(input("Введите число "))
i = 0
while n>i:
  print(i)
  i += 5
# --------------
# Пример вывода:
#
# n = 0
# 0
#
# n = 10
# 0
# 5
# 10
#
# n = 12
# 0
# 5
# 10

# Задание 4.2.9.
Дано вещественное число a. Найдите наименьшее натуральное n, для которого верно
> ![image.png]()

In [ ]:
a = float(input())
n=0
x_sum = 0
while x_sum <= a:
  s = 1/(n+1)
  x_sum = x_sum + s
  n = n+1
else:
  print("n=", n)

# --------------
# Пример вывода:
#
# a = 1.5
# n = 3
#
# a = 2
# n = 4

# Задание 4.2.10.
Дано натуральное число. Определите сумму и количество его цифр.

In [ ]:
n = int(input())
if n>0:
  n_sum = 0
  n_count = 0
  while n%10 != 0:
    n_sum = n_sum + n%10
    n_count = n_count + 1
    n = n//10
  else:
    print("сумма цифр=", n_sum, "количество цифр=", n_count)
else:
  print("Ошибка -_- \nВведите другое значение\n")

# --------------
# Пример вывода:
#
# n = 12345
# Сумма = 15
# Количество = 5

# Задание 4.2.11.
Вывести в строку 10 первых натуральных чисел, оканчивающихся на цифру k, кратных числу s и находящихся в интервале, левая граница которого равна start.

In [ ]:
 
start = int(input())
k = int(input())
s = int(input())
n_count = 10
n=start
num=[]
while n_count!=0:
  while n%s!=0 or n%10!=k:
    n+=1
  else:
    num+=[n]
    n+=1
  n_count-=1
print(num)
# --------------
# Пример вывода:
#
# start = 100
# k = 7
# s = 9
# 117 207 297 387 477 567 657 747 837 927

# Задание 4.2.12.
Даны целые числа a и b (a может быть больше b). Напечатайте:

числа от минимального до максимального в строчку (разделяя пробелом);

числа от максимального до минимального «столбиком».

In [ ]:
a = int(input("a="))
b = int(input("b="))
for i in range(a,b+1):
  print(i, end = ' ')
for i in reversed(range(a,b+1)):
  print(i)
# --------------
# Пример вывода:
#
# a = 1
# b = 5
# 1 2 3 4 5
# 5
# 4
# 3
# 2
# 1

# Задание 4.2.13.# 
Для введенных с клавиатуры положительных целых чисел a и b (a≤b) определите:
> сумму всех целых чисел от a до b;

> произведение всех целых чисел от a до b;

> среднее арифметическое всех целых чисел от a до b;

> среднее геометрическое нечетных чисел от a до b.

Отрезок поиска включает сами числа a и b. При выводе вещественных результатов оставьте два знака после запятой.

In [ ]:
a = int(input())
b = int(input())
n_sum=0
n_mult=1
k=0
mult_nechetnoe=1
k_nechetnoe=0
for i in range(a,b+1):
    n_sum += i
    n_mult *= i
    k +=1
    n_avg = n_sum/k
    if i%2!=0:
      mult_nechetnoe *= i
      k_nechetnoe+=1
    n_avg_geom = mult_nechetnoe**(1/(k_nechetnoe))

print("Сумма =", n_sum)
print("Произведение =", n_mult)
print("Среднее арифметическое = {}".format(n_avg))
print("Среднее геометрическое нечетных чисел =", "%.2f" % (n_avg_geom))

# --------------
# Пример вывода:
#
# a = 1
# b = 5
# Сумма = 15
# Произведение = 120
# Среднее арифметическое = 3.00
# Среднее геометрическое нечетных чисел = 2.47

# Задание 4.2.14.
Начав тренировки, лыжник в первый день пробежал s км. (s>0, вещественное число). Каждый следующий день он увеличивал пробег на p % (0<p≤100, вещественное число) от пробега предыдущего дня. Определите:
> пробег лыжника за второй, третий, …, десятый день тренировок;

> какой суммарный путь он пробежал за первые 10 дней тренировок.

При выводе вещественных результатов оставьте один знак после запятой.

In [ ]:
s = float(input())
p = float(input())
total = s
for i in range(2,11):
  s=s*(1+p/100)
  print("Пробег за {}-ый день:".format(i),(round(s,1)),"км.")
  total += s
print("Суммарный пробег: {:.1f} км.".format(total))

# --------------
# Пример вывода:
#
# Пробег за 1-й день (км.) = 5
# На сколько увеличивает пробег (%) = 10
# Пробег за 2-й день: 5.5 км.
# Пробег за 3-й день: 6.1 км.
# Пробег за 4-й день: 6.7 км.
# Пробег за 5-й день: 7.3 км.
# Пробег за 6-й день: 8.1 км.
# Пробег за 7-й день: 8.9 км.
# Пробег за 8-й день: 9.7 км.
# Пробег за 9-й день: 10.7 км.
# Пробег за 10-й день: 11.8 км.
# Суммарный пробег: 79.7 км.

# Задание 4.2.15.
Известна масса каждого предмета в кг., загружаемого в грузовик. Определить, возможна ли перевозка груза, если грузоподъемность грузовика равна p кг.

In [ ]:
p = int(input("Грузоподъемность грузовика = "))
n = int(input("Количество предметов = "))
total = 0
for i in range(1,n+1):
  m = int(input())
  total += m
  print("Масса {}-го предмета (кг.)=".format(i), m)
  
if total <= p:
  print("Да")
else:
  print("Нет")
# Удалите комментарий и допишите код

# --------------
# Пример вывода:
# Грузоподъемность грузовика (кг.) = 10
# Количество предметов = 2
# Масса 1-го предмета (кг.) = 3
# Масса 2-го предмета (кг.) = 3
# Да

# Задание 4.2.16.
В области несколько районов. Заданы площади, засеваемые пшеницей (га.), и средняя урожайность (ц/га) в каждом районе.

Определите количество пшеницы, собранное по области. При выводе вещественных результатов оставьте один знак после запятой.

In [ ]:
n = int(input())
total = 0
for i in range(1, n+1):
  square = float(input())
  print("Площадь {}-го района (га.) = ".format(i), square)
  harvest = float(input())
  print("Урожайность в {}-м районе (ц/га.) = ".format(i), harvest)
  total += square*harvest
print("Собрано пшениы: {:.1f} ц. ".format(total))

# --------------
# Пример вывода:
#
# Количество районов = 3
# Площадь 1-го района (га) = 4
# Урожайность в 1-м районе (ц/га.) = 2
# Площадь 2-го района (га) = 7
# Урожайность в 2-м районе (ц/га.) = 3
# Площадь 3-го района (га) = 9
# Урожайность в 3-м районе (ц/га.) = 4
# Собрано пшеницы: 65.0 ц.

# Задание 4.2.17.
Решите задачу № 4.2.7, организовав бесконечный цикл, который бы прерывался при выполнении условия, используя оператор break.

№ 4.2.7
Дана непустая последовательность целых чисел, оканчивающаяся нулем. Найти сумму и количество введенных чисел.

In [ ]:
nums_sum = 0  # сумма
nums_count = 0  # количество
while True:
    n = int(input())
    nums_sum += n
    nums_count += 1
    if n == 0:
      nums_count -= 1
      print("Сумма = ", nums_sum, "Количество = ", nums_count, end = ' ')
      break

# --------------
# Пример вывода:
#
# Введите 1-е число: 1
# Введите 2-е число: 2
# Введите 3-е число: 3
# Введите 4-е число: 4
# Введите 5-е число: 0
# Сумма = 10
# Количество = 4
#
# Введите 1-е число: 0
# Сумма = 0
# Количество = 0

#  Задание 4.2.19
Выведите на экран (в строку) все целые числа от a до b, кратные некоторому числу c.

In [ ]:
a = int(input("a="))
b = int(input("b="))
c = int(input("c="))
for i in range(a,b+1):
  if i % c == 0:
    print(i, end=' ')

# --------------
# Пример вывода:
#
# a = 1
# b = 10
# c = 2
# 2 4 6 8 10

# Задание 4.2.20
Выведите на экран (в строку) все трехзначные натуральные числа, сумма цифр которых равна целому числу n (0<n≤27).

In [ ]:
n = int(input())
if n in range(1,27):
  for i in range(1,1000,1):
    if len(str(i))==3 and :
      a=i//100
      b=(i//10)%10
      c=i%100
      if n==(a+b+c):
        print(i, end = ' ')
else:
  print("Ведите другие значения") 
# --------------
# Пример вывода:
#
# n = 3
# 102 111 120 201 210 300

3
102 201 300

In [ ]:
n = int(input())
if n in range(1,27):
  for i in range(1,1000,1):
    if len(str(i))==3 and (i//100+(i//10)%10+i%100)==n:
      print(i, end = ' ')
else:
  print("Ведите другие значения")

# Задание 4.2.21
Известно количество учеников в классе и их рост (см.); рост мальчиков условно задан отрицательными числами. Определите средний рост мальчиков и средний рост девочек.

При выводе вещественных результатов оставьте один знак после запятой.

In [ ]:
n = int(input())
m=0
d=0
r_d=0
r_m=0
for i in range(n):
  r=int(input())
  if r>0:
    d += 1
    r_d += r
  else:
    m += 1
    r_m += r
r_sr_d= r_d / d
r_sr_m= -(r_m / m)
print("Средний рост мальчиков: {:.1f}".format(r_sr_m))
print("Средний рост девочек: {:.1f}".format(r_sr_d))

# --------------
# Пример вывода:
#
# n = 5
# Рост 1-го ученика = 150
# Рост 2-го ученика = -150
# Рост 3-го ученика = 160
# Рост 4-го ученика = 170
# Рост 5-го ученика = 180
# Средний рост мальчиков: 150.0
# Средний рост девочек: 165.0

# Задание 4.2.22
Даны n вещественных чисел. Определите максимальное и минимальное из них.

При выводе вещественных результатов оставьте два знака после запятой.

In [ ]:
n = int(input("Введите количество чисел"))
a=float(input("Введите первое число"))
a_max = None
a_min = None
b=a
a_max=a
a_min=a
for i in range(1, n):
  a=float(input("Введите"))
  if str(a)>str(a_max):
    a_max=a
  elif str(a)<str(a_min):
    a_min=a
  else:
    a_max=a_max
    a_min=a_min
if b>a_max:
  a_max=b
elif b<a_min:
  a_min=b
else:
  a_max=a_max
  a_min=a_min
print("Максимум: {:.2f}".format(a_max))
print("Минимум:", "%.2f"%(a_min))
# --------------
# Пример вывода:
# n = 4
# 1-е число = 6.2
# 2-е число = 3.8
# 3-е число = 1.1
# 4-е число = 9.66
# Максимум: 9.66
# Минимум: 1.10

# Задание 4.2.23
Дано натуральное число n. Определите, является ли оно членом последовательности Фибоначчи .

In [ ]:
n = int(input())
a=0
b=1
c=[]
if n==0:
  print("Является")
else: 
  for i in range(0,n):
    f=a+b
    a=b
    b=f
    c += [f]
  print("Является" if n in c else "Не является")
 
# --------------
# Пример вывода:
#
# n = 7
# Не является
#
# n = 8
# Является