<a href="https://colab.research.google.com/github/Bragmotik/laboratory/blob/main/%D0%9B%D0%B0%D0%B1%D0%BE%D1%80%D0%B0%D1%82%D0%BE%D1%80%D0%BD%D0%B0%D1%8F_%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0_%E2%84%967.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Яковлева Ольга
# АДЭУ-201

In [ ]:
import requests
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from math import sqrt
#Importing the data from the webpage into a DataFrame
url='http://pogoda-service.ru/archive_gsod_res.php?country=AL&station=136220&datepicker_beg=01.12.2010&datepicker_end=01.12.2020&bsubmit=%D0%9F%D0%BE%D1%81%D0%BC%D0%BE%D1%82%D1%80%D0%B5%D1%82%D1%8C'
req=requests.get(url)
data=pd.read_html(req.text)
df=data[0]
df.drop(df.columns[[1,2,4,7,6,5]], axis=1, inplace=True)
df.columns=['Date','Temp']
df

           Date  Temp
0    29.05.2011  22.8
1    01.06.2011  22.9
2    03.06.2011  22.3
3    05.06.2011  22.8
4    09.06.2011  24.8
..          ...   ...
995  05.05.2014  16.7
996  06.05.2014  17.8
997  07.05.2014  18.3
998  08.05.2014  18.6
999  09.05.2014  19.6

[1000 rows x 2 columns]

# Нормализация

In [ ]:
temp=df['Temp'].values
temp=temp.reshape((len(temp),1))

In [ ]:
scaler=MinMaxScaler(feature_range=(0,1))
scaler=scaler.fit(temp)

In [ ]:
print('Min: %f, Max:%f' % (scaler.data_min_, scaler.data_max_))

Min: 3.100000, Max:32.500000

In [ ]:
normalized=scaler.transform(temp)
for i in range(5):
  print(normalized[i])

[0.67006803]
[0.67346939]
[0.65306122]
[0.67006803]
[0.73809524]

In [ ]:
inversed=scaler.inverse_transform(normalized)
for i in range(5):
  print(inversed[i])

[22.8]
[22.9]
[22.3]
[22.8]
[24.8]

# Стандартизация

In [ ]:
scaler1=StandardScaler()
scaler1=scaler1.fit(temp)

In [ ]:
print('Mean: %f, StandartDevitation: %f' % (scaler1.mean_, sqrt(scaler1.var_)))

Mean: 18.653000, StandartDevitation: 7.101388

In [ ]:
standartisation=scaler1.transform(temp)
for i in range(5):
  print(standartisation[i])

[0.58397035]
[0.5980521]
[0.51356158]
[0.58397035]
[0.86560543]

In [ ]:
inversed1=scaler1.inverse_transform(standartisation)
for i in range(5):
  print(inversed1[i])

[22.8]
[22.9]
[22.3]
[22.8]
[24.8]

# Таблица итогов

In [ ]:
df=pd.DataFrame({'Min':scaler.data_min_, 'Max': scaler.data_max_, 'Среднее': scaler1.mean_, "Стандартное отклонение": sqrt(scaler1.var_)})

In [ ]:
arrays = [['Нормализация', 'Нормализация', 'Стандартизация', 'Стандартизация'], df.columns]
df.columns = pd.MultiIndex.from_arrays(arrays)
df

  Нормализация       Стандартизация
           Min   Max        Среднее Стандартное отклонение
0          3.1  32.5         18.653               7.101388